* {
  --text_color: rgb(0, 77, 119);
  --bg_color: rgb(197, 244, 245);
}

App {
  overflow: hidden;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text_color);
}

.login-form {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  padding: 20px;
  border: 2px solid var(--text_color);
  border-radius: 5px;
  background-color: var(--bg_color);
}

label {
  font-size: 10px + 1vmin;
  margin-bottom: 5px;
  color: var(--text_color);
}

input {
  font-size: 10px + 1vmin;
  padding: 5px;
  border: 2px solid var(--text_color);
  border-radius: 5px;
  color: #353;
  width: 90%;
}

button {
  align-self: flex-end;
  font-size: 10px + 1vmin;
  padding: 5px;
  padding-inline: 20px;
  border: 2px solid var(--text_color);
  border-radius: 5px;
  color: #353;
  background-color: var(--bg_color);
  cursor: pointer;
}

button:hover {
  background-color: var(--text_color);
  color: var(--bg_color);
}

button:active {
  background-color: var(--text_color);
  color: var(--bg_color);
}

span {
  font-size: 10px + 1vmin;
  margin-top: 5px;
  color: var(--text_color);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  height: 100vh;
  position: absolute;
  background-color: var(--bg_color);
  color: var(--text_color);
  overflow-y: auto;
  overflow-x: hidden;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}

.comment>div {
  width: 33%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .comment {
    flex-direction: column;
  }
}

.comments-container {
  margin: 0 AUTO;
  overflow-y: auto;
  overflow-x: hidden;
  width: 97%;
  border: solid 3px  var(--text_color);
  background-color: white;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  border-bottom: 2px solid var(--text_color);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--text_color);
  border-radius: 10px;
  max-height: 80%;
  min-width: 70%;
}